// primary colors
$royal-blue: #4169e0;
$dodger-blue: #3069ff;
$azure: #3251ad;
$portage: #879fe6;//+1
$geyser: #c9d6df;//+1
$biscay: #1c2d61;

// secondary colors
$cinnabar: #ed3f39;
$sunglow: #ffc430;
$hot-pink: #ff639a;
$screamin-green: #3dfc4d;

// white, gray and black colors
$white: #fff;
$wild-sand: #f4f4f4; // +2
$black-squeeze: #f0f5f9; //+1
$mercury: #e2e2e2;
$silver: #c5c5c5;
$shuttle-gray: #52616b;
$tundora: #424242;
$shark: #1d1f20;
$jaguar: #01020B;

// Social Media Colors
$facebook: #1877f2;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$whatsapp: #25d366;
$telegram: #0088cc;
