// Display classes
.d-block {
  display: block !important;
  @extend .animated;
}

.section-title {
  text-align: center;
}

.highlight{
  @include rounded(2px);
  padding: 0 .5rem;
  &.blue{
    background-color: $dodger-blue;
  }
}